body {
  font-family: "Roboto", serif;
}

.hero {
  background-color: #1F2937;
  color: #F9FAF8;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
}

.logo {
  font-size: 24px;
}

.hero a, 
.hero p {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0;
}

.header a{
  text-decoration: none;
  margin: 0px 10px;
}

.main-hero {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: auto;
  padding: 50px;
  gap: 30px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0px;
}

button {
  background-color: #3882F6;
  padding: 5px 30px;
  border-radius: 10px;
  color: #F9FAF8;
  font-size: 18px;
  border-style: none;
  margin-top: 10px;
}

.movies {
  width: 800px;
  margin: auto;
}
.movie-posters {
  display: flex;
  justify-content: center;
  gap: 60px;
}

h2 {
  text-align: center;
}

.poster {
  width: 112px;
}

.poster p {
  text-align: center;
  margin: 5px;
}

.poster img {
  border-style: solid;
  border-color: #3882F6;
  border-radius: 10px;
}