body {
  font-family: "Roboto", serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-footer-background {
  background-color: #1F2937;
}

.main-text-color {
  color: #F9FAF8;
}

.alt-text-color {
  color: #E5E7EB;
}

.cta-logo-text {
  font-size: 24px;
}

.information-text {
  font-size: 36px;
}

.hero {
  flex: 1;
}

.hero-width {
  width: 900px;
}

.heavy-weight {
  font-weight: 900;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px auto;
  
}

.hero a, 
.hero p {
  font-size: 18px;
  margin: 0;
}

.header a{
  text-decoration: none;
  margin: 0px 10px;
}

.main-hero {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 50px;
  gap: 30px;
}

.hero h1 {
  font-size: 48px;
  margin: 0px;
}

button {
  background-color: #3882F6;
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 18px;
  border-style: none;
  margin-top: 10px;
}

.movies {
  width: 800px;
  margin: auto;
  flex: 1;
}
.movie-posters {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  color: #1F2937;
}

.poster {
  width: 112px;
}

.poster p {
  text-align: center;
  margin: 5px;
}

.poster img {
  border-style: solid;
  border-color: #3882F6;
  border-radius: 10px;
}

.movie-quote {
  background-color: #E5E7EB;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  font-style: italic;
  font-weight: 100;
  color: #1F2937;
  margin: auto;
  width: 700px;
}

.author {
  width: 700px;
  text-align: right;
  margin: auto;
  font-weight: bold;
}

.call-to-action {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action-container {
  background-color: #3882F6;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 50px;
  border-radius: 10px;
}

.call-to-action-container p {
  margin: 0px;
  width: 90%;
}

.call-to-action-container button {
  margin: 0px;
  border-color: #E5E7EB;
  border-style: solid;
  border-radius: 10px;
}

.footer {
  height: 50px;
}